# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENV (RẤT QUAN TRỌNG)
# =========================
.env
.env.*

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*

# =========================
# TEMP FILES
# =========================
tmp/
temp/
uploads/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/

# =========================
# TEST
# =========================
coverage/

# =========================
# MISC
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# AWS CDK
# =========================
infra/cdk/cdk.out/